
cmake_filesystem/.idea/

cmake_filesystem/cmake-build-debug/

cmake_filesystem/CMakeFilesystemConfig.h

.idea/

cmake-build-debug/

cmake-build-relwithdebinfo/

cmake-build-release/

cmake-build-minsizerel/
